<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463815099240-nl9h44bpb24mpbmqd8s5cr1igrpbm7h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463815099240-nl9h44bpb24mpbmqd8s5cr1igrpbm7h2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463815099240-e6e414g86cbhch557tn1rmutasqbubrt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9uEZH02dYBbXXrB0KlgtpPB3Elj7L90s</string>
	<key>GCM_SENDER_ID</key>
	<string>463815099240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTutorial</string>
	<key>PROJECT_ID</key>
	<string>muvmee-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>muvmee-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463815099240:ios:f460ebe761bf3f6168ccdd</string>
</dict>
</plist>